
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Welcome User <text>@Session["uid"].ToString().ToUpper()</text></h1>
    <div> 
    </div>
</body>
</html>
