
@{
    ViewBag.Title = "No Authorization";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div style="text-align:center " >
    <img height="100px"width="100px" src="~/images/sadicon.jpg" />
</div>
<h2>Sorry, You Are Not Allowed To Authorize This Page</h2>

