
@{
    Layout = "~/Views/Shared/_employeelayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <h2>Welcome to Walmart Managment</h2>
    </div>
</body>
</html>
