
#header{
background:#b6ff00;
height:100px;
}

#menu{
background:#97cfff;
height:50px;
margin:3px;
}

#main{
background:#ffcfcf;
margin:3px;
}

#footer{
background:#de98ff;
height:100px;
margin:3px;
}

