
#header{
background:#ffa6a6;
height:100px;
}

#menu{
background:#a1d4ff;
height:50px;
margin:3px;
}

#main{
background:#ffeca1;
margin:3px;
}

#footer{
background:#a9ffad;
height:100px;
margin:3px;
}

