@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<h2>About Us</h2>
<h4 style="text-align:left">Walmart Management System</h4>
    <p style="text-align:left;color:black">
        </br>
Walmart management website will focus on automating the whole process of Walmart retail chain. Admins will be able to add new categories and subcategories for the item that will sold in their stores. They will also provide logins to store managers. Admins can view daily and monthly sales of all stores.
Store managers will be able to manage store employees. They will also manage the items that are sold in their stores. New members will be added by the store managers. Add on cards will also be issued by the store managers.
Store employees will manage the stock of the all the items in the store. Employees will also be the ones who will generate bills and print them.
Members will be able to order the items to their homes via an online interface.
</p>
<h4  style="text-align:left">Features of Walmart Management System</h4>
<p style="text-align:left;color:black">
    <p style="text-align:left;font-size:larger;color:black"><b>Admin Features</b></p>
    <ul>
        <li> Manage co-admins</li>
        <li>Manage stores</li>
        <li>Manage categories</li>
        <li>Manage subcategories</li>
        <li>View daily/monthly sales</li>
        <li>View daily/monthly sales according to stores</li>
    </ul> 
</br>
      <p style="text-align:left;font-size:larger;color:black"><b>  Store Manager Features</b></p>
<ul>
    <li>Manage store employees</li>
    <li>Manage items sold in store</li>
    <li>Manage membership</li>
    <li>Manage add-on cards</li>
    <li>View daily/monthly sales of own store</li>
</ul>
</br>
<p style="text-align:left;font-size:larger;color:black"><b>Store Employee Features</b></p>
<ul>
   
    <li>Login</li>
    <li>Manage stock of items sold in store</li>
    <li>Generate bills</li>
    <li>Print bills</li>
</ul>
</br>
<p style="text-align:left;font-size:larger;color:black"><b>Member Features</b></p>
<ul>
    <li>View Bill Details</li>
</ul>
    
