@{
    Layout = "~/Views/Shared/_PublicLayout.cshtml"; 
}
<h2>Contact Us</h2>
<h3>Contact Details</h3>
<br />
<b style="text-align:left">Developed By : </b>Shubham Seth</br>
    <strong>Mail Us At : </strong>   <a href="mailto:walmartmanage619@gmail.com">walmartmanage619@gmail.com</a><br/>
<strong>Phone No : </strong>   9781855257<br />

    
